.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-header {
  font-size: 3rem;
}

.section-details {
  margin-top: 100px;
  border: 1px solid #1f1f1f;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 5px 5px;
}

.nav-buttons {
  outline: 1px solid rebeccapurple;
  height: 40px;
  font-size: 2rem;
}

.back-button {
  border: none !important;
  background-color: inherit;
  transition: all 1s ease;
}

.back-button:hover {
  text-decoration: underline;
}

.name {
  padding: 20px 0px;
  font-size: 3rem;
}

.details {
  padding: 20px 0px;
  font-size: 1.5rem;
}
